*{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bold;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.active{
    background-color: red;
}
.no-active{
    background-color: green;
}
.border{ 
    border: 5px solid black; 
}
.no-border{
    border: 5px solid yellow; 
}