<h1>Structure Directives</h1>

<!-- old way -->
<h2 *ngIf="isLoggedIn; else message">Name : {{ userName }}</h2>

<h2 *ngIf="!isLoggedIn">User is not login ( using not syntax )</h2>

<!-- ng template -->
<ng-template #message>
    <h2>User is not login ( using ng-template ) </h2>
</ng-template>


<!-- new way -->
@if(isLoggedIn){
    <h2>Name : {{ userName }}</h2>
}
@else{
    <h2>User is not login ( using else syntax )</h2>
}

<button (click)="checkLogin()">Check User</button>

<!-- multiple condition -->
<!-- old approach -->

<h4 *ngIf="isAdmin; else memberMessage">Admin Login</h4>

<ng-template #memberMessage>
    <h4 *ngIf="isMember; else guestMessage">Member Login</h4>
</ng-template>

<ng-template #guestMessage>
    <h4 *ngIf="isGuest">Guest Login</h4>
</ng-template>

<!-- @if @else syntax approach -->

@if(isAdmin){
    <h4>Admin Login</h4>
}
@else if(isMember){
    <h4>Member Login</h4>
}
@else{
    <h4>Guest Login</h4>
}

<!-- *ngIf in numbers -->

<button (click)="limitExceed()" *ngIf="limit < 4">Login</button>
<br><br>
<h2 *ngIf="limit > 3">
    Limit Exceeded
</h2>

@if(limit <= 3){
    <button (click)="limitExceed()">Login Syntax</button>
}
@if(limit >= 3){
    <h2>Limit Exceeded Using Approach</h2>
}

<ng-template #repeat>
    <button>Join Now</button>
</ng-template>


<div [ngTemplateOutlet]="repeat">
    <h4>SideBar</h4>
</div>
<div [ngTemplateOutlet]="repeat">
    <h4>Main</h4>
</div>
<div [ngTemplateOutlet]="repeat">
    <h4>Footer</h4>
</div>

<!-- ng For Directive -->
<h2> *ngFor Directive </h2>

<!-- print all the elements -->
<h2>{{ users }}</h2>

<!-- print single element from the array -->
<!-- 
    <h2>{{ users[0] }}</h2>
    <h2>{{ users[1] }}</h2>
    <h2>{{ users[2] }}</h2>
    <h2>{{ users[3] }}</h2>
    <h2>{{ users[4] }}</h2> 
-->

<!-- using ngFor Directive -->
<p *ngFor="let user of users">{{ user }}</p>

<!-- for syntax approach -->
@for(user of users; track user){
    <p>{{ user }} - using for syntax</p>
}

<!-- creating list -->

<ul>
    <li *ngFor="let user of users">
        {{ user }}
    </li>
</ul>

<!-- for syntax approach -->
<ul>
    @for(user of users;track user){
        <li>{{ user }} - using for syntax</li>
    }
</ul>
<hr>

<!-- object using -->

<!-- <div class="card" *ngFor="let user of usersObj; let i = index; let userCount = count">
    <p> Name  : {{ user.name }} {{ i }}  </p>
    <p> Email : {{ user.email }}         </p>
    <img src="{{ user.image }}" height="170" width="250"> <br> 
    <hr>
    <button (click)="onDelete(i)" >Delete</button>
    <hr>
</div> -->

<h1 *ngIf="usersObj.length == 0">No User to display</h1>

<!-- using ngFor syntax -->

@for(user of usersObj; track user.id; let index = $index; let userCount = $count){
    <div class="card">
        <p> Name  : {{ user.name }} {{ index }}  </p>
        <p> Email : {{ user.email }} </p>
        <img src="{{ user.image }}" height="170" width="250">
        <hr>
        <button (click)="onDelete(index)" >Delete</button>
        <hr>
    </div>
}

<!-- 
    let last = $last
    let first = $first
    let even = $even
    let odd = $odd 
    let count = $count
    let index = $index
-->

<!-- change detection -->
<br><br>
<button (click)="addUser()" class="btn">Add User</button>

<!-- ngSwitchCase -->

<div [ngSwitch]="userRole">
    <p *ngSwitchCase="'Admin'">Welcome Admin</p>
    <p *ngSwitchCase="'Member'">Welcome Member</p>
    <p *ngSwitchCase="'Editor'">Welcome Editor</p>
    <p *ngSwitchDefault>Please Login</p>
</div>

<!-- small task on ngSwitch -->

<button *ngFor="let button of buttons" (click)="hello($event)">
    {{ button }}
</button>

<!-- 
    <button (click)="hello($event)">Home</button>
    <button (click)="hello($event)">About</button>
    <button (click)="hello($event)">Contact</button>
    <button (click)="hello($event)">Services</button> 
-->

<div [ngSwitch]="switchCase" class="switch">

    <p *ngSwitchCase="'Home'">Home Home Home Home Home Home Home Home Home Home Home Home  ipsum dolor, sit amet consectetur adipisicing elit. Vel voluptates magnam quasi fugit voluptatibus enim cum corrupti similique ea beatae quod deleniti aliquam, quia delectus reiciendis fugiat provident nostrum autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maiores rem aut sunt deleniti, dolores nemo ea, sint vero saepe, modi minima. Cumque error nisi perferendis animi natus, amet beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magnam voluptates quo natus possimus error quod hic rem eius reiciendis? Cupiditate ex provident neque accusamus reiciendis molestias perferendis aspernatur adipisci. </p>

    <p *ngSwitchCase="'About'">About About About About About About About About About About About About About About  ipsum dolor sit amet, consectetur adipisicing elit. Voluptate rem suscipit nemo accusantium quas, et eos aspernatur. Voluptates ipsum tempore quod, fuga dolore cupiditate repellat sint numquam, suscipit veniam neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maiores rem aut sunt deleniti, dolores nemo ea, sint vero saepe, modi minima. Cumque error nisi perferendis animi natus, amet beatae. lormLorem ipsum dolor sit amet consectetur adipisicing elit. Iste magnam voluptates quo natus possimus error quod hic rem eius reiciendis? Cupiditate ex provident neque accusamus reiciendis molestias perferendis aspernatur adipisci.</p>

    <p *ngSwitchCase="'Contact'">Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact Contact  ipsum dolor sit amet, consectetur adipisicing elit. Voluptate rem suscipit nemo accusantium quas, et eos aspernatur. Voluptates ipsum tempore quod, fuga dolore cupiditate repellat sint numquam, suscipit veniam neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maiores rem aut sunt deleniti, dolores nemo ea, sint vero saepe, modi minima. Cumque error nisi perferendis animi natus, amet beatae. loremmLorem ipsum dolor sit amet consectetur adipisicing elit. Iste magnam voluptates quo natus possimus error quod hic rem eius reiciendis? Cupiditate ex provident neque accusamus reiciendis molestias perferendis aspernatur adipisci.</p>

    <p *ngSwitchCase="'Services'">Services Services Services Services Services Services Services Services Services Services Services Services Services Services  ipsum dolor sit amet, consectetur adipisicing elit. Voluptate rem suscipit nemo accusantium quas, et eos aspernatur. Voluptates ipsum tempore quod, fuga dolore cupiditate repellat sint numquam, suscipit veniam neque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maiores rem aut sunt deleniti, dolores nemo ea, sint vero saepe, modi minima. Cumque error nisi perferendis animi natus, amet beatae. lorem mLorem ipsum dolor sit amet consectetur adipisicing elit. Iste magnam voluptates quo natus possimus error quod hic rem eius reiciendis? Cupiditate ex provident neque accusamus reiciendis molestias perferendis aspernatur adipisci.</p>

</div>

<!-- newest way -->

@switch (userRole) {
    @case ('Admin') {
        <p>Welcome Admin</p>
    }
    @case ('Member') {
        <p>Welcome Member</p>
    }
    @case ('Editor') {
        <p>Welcome Editor</p>
    }
    @default {
        <p>Please Login</p>
    }
}

<!-- ngStyle approach -->

<h1 [style.color]="isCondition ? 'green' : 'red'" [style.textTransform]="isCondition ? 'uppercase' : 'lowercase'">Welcome Coder</h1>

<h1 [ngStyle]="{'color' : isCondition ? 'green' : 'red','textTransform': isCondition ? 'uppercase' : 'lowercase'}">Welcome Coder</h1>


<!-- ngClass -->

<h1 [class.login]="isCondition" [class.logout]="!isCondition">{{ isCondition ? 'Login Successful' : 'Please Login'}}</h1>

<!-- ngClass approach -->

<h1 [ngClass]="{'login' : isCondition , 'logout' : !isCondition }">ngClass approach</h1>


<app-main [navbar]="navbar"></app-main>


<div class="card1" *ngFor="let user of usersData">
    <h1>{{ user.name }}</h1>
    <h3>{{ user.username }}</h3>
</div>  